<div>
    <div class="py-7">
        <h1 class="text-2xl font-bold"> Dashboard</h1>
    </div>
    <hr />
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow-md sm:rounded-lg">
                    <table class="min-w-full">
                        <thead class="bg-gray-50 dark:bg-gray-900">
                            <tr>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Title
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Body
                                </th>

                                <th scope="col" class="relative py-3 px-6">
                                    <span class="sr-only">Details</span>
                                </th>
                                <th scope="col" class="relative py-3 px-6">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let poste of FilterListPostes;"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900  whitespace-normal dark:text-white">
                                    <p class="selectCol">{{poste.title}}</p>
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-normal  dark:text-gray-400">
                                    <p class="selectCol"> {{poste.body}}</p>
                                </td>
                                <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                    <a routerLink="/details/{{poste.id}}" href="#"
                                        class="text-blue-600 dark:text-blue-500 hover:underline">Details</a>
                                </td>
                                <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                    <a routerLink="/edit/{{poste.id}}" href="#"
                                        class="text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="py-7 flex justify-end">
        <div class="mb-3 xl:w-96">
            <select (change)="SelectCountList($event)"
                class="form-select appearance-none block w-full px-3  py-1.5 text-base font-normal text-gray-100 bg-gray-900 bg-clip-padding bg-no-repeat  border border-solid border-gray-800  rounded  transition  ease-in-out  m-0 focus:text-gray-100 focus:bg-gray-700  focus:border-blue-600 focus:outline-none"
                aria-label="Default select example">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>