<div>
    <div class="py-7">
        <h1 class="text-2xl font-bold"> Dashboard</h1>
    </div>
    <hr />
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow-md sm:rounded-lg">
                    <table class="min-w-full">
                        <thead class="bg-gray-50 dark:bg-gray-900">
                            <tr>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Title
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Body
                                </th>

                                <th scope="col" class="relative py-3 px-6">
                                    <span class="sr-only">Details</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let poste of postes"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900  whitespace-normal dark:text-white">
                                    <p class="selectCol">{{poste.title}}</p>
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-normal  dark:text-gray-400">
                                    <p class="selectCol"> {{poste.body}}</p>
                                </td>
                                <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                    <a routerLink="/details/{{poste.id}}" href="#"
                                        class="text-blue-600 dark:text-blue-500 hover:underline">Details</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>